<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edicao de categoria</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update" method="POST">
                    <input class="form-control" type="text" name="title" value="<%= category.title %>"placeholder="Defina o titulo da categoria">
                    <br>
                    <input type="hidden" value="<%= category.id %>" name="id">
                    <button class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>