<%- include ('../../components/header.ejs') %>
<%- include ('../../components/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar categoria</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                <input type="hidden" name="id" value="<%= category.id %>">
                <input class="form-control" type="text" name="title" placeholder="Define o titulo da categoria" value="<%= category.title %>" required><br >
            <button class="btn btn-success">Atualizar</button>
         </form>
        </div>
      </div>
    </div>
<%- include ('../../components/footer.ejs') %>