<<%- include ('../../components/header.ejs') %>
<%- include ('../../components/navbar.ejs') %>

    <div class="container">
     <hr>
     <h2>Categorias</h2>
     <hr>
     <a class="btn btn-success" href="/admin/categories/new">New Category</a>
     <hr>
     <table class="table table-bordered">
         <thead>
             <th>Id</th>
             <th>Titulo</th>
             <th>Slug</th>
             <th>Solucoes</th>
         </thead>
         <tbody>
             <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Deletar</button>
                    </th>
                </tr>
            <% }) %>
         </tbody>
     </table>
<%- include ('../../components/footer.ejs') %>