<%- include('../../partials/header.ejs') %> 
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container"><hr>
        <div class="container"><hr>
            <div class="card">
                <div class="card-header">
                    <h2>Categorias</h2>
                    <a href="/admin/categories/new" class="btn btn-dark">Criar Nova Categoria</a>
                </div>
                <div class="card-body table-responsive-sm">
                    <table class="table table-bordered table-hover">
                        <caption>Lista de categorias</caption>
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Título</th>
                                <th>Slug</th>
                                <th>Acões</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach(category => { %>
                                <tr>
                                    <td><%= category.id %> </td>
                                    <td><%= category.title %> </td>
                                    <td><%= category.slug %> </td>
                                    <td>
                                        <a href="/admin/categories/edit/<%=category.id%>" class="btn btn-warning">Editar</a>
                                        
                                        <!--Macete-->
                                        <form action="/categories/delete" method="POST" onsubmit="confirmDelete('categoria',event,this)" style="display:inline;">
                                            <input type="hidden" name="id" value="<%=category.id%>">
                                            <button class="btn btn-danger">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>     
    </div> 
</body>
<%- include('../../partials/footer.ejs') %> 
<script src="/js/confirmDelete.js"></script>