<<%- include ('../../components/header.ejs') %>
<%- include ('../../components/navbar.ejs') %>

    <div class="container">
     <hr>
     <h2>Categorias</h2>
     <hr>
     <a class="btn btn-success" href="/admin/categories/new">New Category</a>
     <hr>
     <table class="table table-bordered">
         <thead>
            <tr> 
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Solucoes</th>
            </tr>
         </thead>
         <tbody>
             <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                            
                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
         </tbody>
     </table>
<%- include ('../../components/footer.ejs') %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        console.log("O formulario nao foi enviado");
        var decisao = confirm("Voce quer deletar esta categoria?");

        if(decisao){
            form.submit();
        }
    }
</script>